@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #242424;
  background-color: #F2F2F2;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  text-decoration: none;
  text-transform: capitalize;
}

.main-index {
  background-image: url("../images/gallery/index-bg.jpg");
  color: #000000;
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.uppercase{
  text-transform: uppercase;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.advantages-list {
  text-align: center;
}

.advantages-item-photo {
  color: #ffffff;
  background-color: #000000;
  background: #82B3D3;
}

.colored {
  color: #000000;
  background-color: #ffffff;
  background: rgba(131, 179, 211, 0.12);
}

.colored-opacity {
  color: #000000;
  background-color: #ffffff;
  background: rgba(131, 179, 211, 0.2);
}

.hotels-search-list{
  text-align: center;
}

.hotels-search-title{
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.search-link{
  text-decoration: none;
  font-family: 'PT Sans';
  font-style: normal;
  font-size: 20px;
  line-height: 36px;
  background: #756157;
  border-radius: 4px;
  color:#ffffff;
  text-transform: uppercase;
}

.subscribe {
  background-image: url("../images/gallery/subscribe-photo.jpg");
  color: #ffffff;
  background-color: #000000;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-uppercase{
  text-transform: uppercase;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.subscribe-button {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background: #82B3D3;
  color:inherit;
  text-transform: uppercase;
}

.telephone-number{
font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 40px;
text-transform: uppercase;
color: inherit;
}
